.idea
TODO
.DS_Store
publishing
node_modules/

# ignore temporary test files
**/__tests__/temp/

/tests/fixtures/home/**/*
!/tests/fixtures/home/README.md
/tests/fixtures/watch/**/*
!/tests/fixtures/watch/README.md
/tests/fixtures/shorts/**/*
!/tests/fixtures/shorts/README.md
/playwright-report/
/test-results/

dist/
